In [1]:
# necessary imports 


import plotly.express as px
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

import math

import opendatasets as od

import warnings
warnings.filterwarnings('ignore')

plt.style.use('fivethirtyeight')
%matplotlib inline
pd.set_option('display.max_columns', 26)

# Downloading the DATASET from the KAGGLE.COM project site. This automatically creates a project directory and places the dataset file there.
od.download("https://www.kaggle.com/c/boston-housing/overview")

Skipping, found downloaded files in ".\boston-housing" (use force=True to force download)

In [2]:
# loading data from the downloaded file path...

df= pd.read_csv('./boston-housing/train.csv')
df.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [3]:
df = df.drop('ID', axis=1)

In [4]:
y = df.pop('medv')
X = df.copy()

In [5]:
column_names = X.columns
scaler = StandardScaler()
X = pd.DataFrame(scaler.fit_transform(X), columns=column_names)

In [6]:
X

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,-0.456875,0.322906,-1.285631,-0.25278,-0.166787,0.440154,-0.107736,0.192133,-0.98907,-0.664062,-1.465171,0.432990,-1.067772
1,-0.454016,-0.472123,-0.604425,-0.25278,-0.767928,0.221060,0.379963,0.635528,-0.87451,-0.980620,-0.301616,0.432990,-0.478299
2,-0.453327,-0.472123,-1.304235,-0.25278,-0.863762,1.041952,-0.798347,1.189127,-0.75995,-1.097863,0.117264,0.406733,-1.356840
3,-0.448330,-0.472123,-1.304235,-0.25278,-0.863762,1.253933,-0.499320,1.189127,-0.75995,-1.097863,0.117264,0.432990,-1.018177
4,-0.445709,0.079980,-0.489936,-0.25278,-0.288758,-0.360821,-0.057898,0.935505,-0.53083,-0.576130,-1.511713,0.417953,-0.012106
...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,-0.433512,-0.472123,-0.229475,-0.25278,0.242685,-0.991072,0.187731,-0.662253,-0.41627,-0.107156,0.349975,0.419919,0.366233
329,-0.449205,-0.472123,0.091092,-0.25278,0.138139,0.465762,0.031098,-0.622468,-0.98907,-0.798892,1.187734,0.376197,-0.403198
330,-0.451569,-0.472123,0.091092,-0.25278,0.138139,-0.207170,0.301647,-0.719074,-0.98907,-0.798892,1.187734,0.432990,-0.486801
331,-0.449459,-0.472123,0.091092,-0.25278,0.138139,1.010653,0.810705,-0.779737,-0.98907,-0.798892,1.187734,0.432990,-0.974250
332,-0.451278,-0.472123,0.091092,-0.25278,0.138139,-0.335212,0.447600,-0.609123,-0.98907,-0.798892,1.187734,0.432990,-0.656841

In [7]:
reg = LinearRegression().fit(X, y)

In [8]:
print('INTERCEPT - W0 is : ', reg.intercept_)

print('COEFFICIENT - W1 is : ', reg.coef_)

INTERCEPT - W0 is :  22.76876876876877
COEFFICIENT - W1 is :  [-0.38533599  1.07418454  0.37631929  0.89927653 -1.80662577  2.64908845
 -0.12996621 -3.06379849  2.87156628 -2.19483476 -1.84128775  1.00856953
 -4.23652255]

In [9]:
#num_data = x.shape[0]

#y_pred = reg.predict(x)
#mse = mean_squared_error(y, y_pred)
#rmse = math.sqrt(mse)
#rse = mse * num_data
#rse /= num_data-2
#rse = math.sqrt(rse)
#r2_score = reg.score(x,y)

ne_rmse = math.sqrt(mean_squared_error(reg.predict(X), y))
ne_rse = (ne_rmse ** 2) * X.shape[0]
ne_rse /= X.shape[0] - 2

print('RMSE: ', ne_rmse)
print('RSE : ', ne_rse)
print('R2 Score: ', reg.score(X, y))

RMSE:  4.731759654044983
RSE :  22.524833710195615
R2 Score:  0.7331394355527803

In [16]:
sgd_reg = SGDRegressor(max_iter = 100_000_000, tol = 0.001, eta0 = 1e-3)
sgd_reg.fit(X, y)

SGDRegressor(eta0=0.001, max_iter=100000000)

In [17]:

print('INTERCEPT is W0 : ', sgd_reg.intercept_)

print('COEFFICIENT is W1 : ', sgd_reg.coef_)

INTERCEPT is W0 :  [22.75571018]
COEFFICIENT is W1 :  [-0.21717936  0.7426931  -0.16228418  0.95743018 -1.17215142  2.92091012
 -0.25630747 -2.55722722  1.41265009 -0.73998271 -1.70644611  1.05518903
 -4.07624436]

In [18]:
sgd_rmse = math.sqrt(mean_squared_error(sgd_reg.predict(X), y))
sgd_rse = (sgd_rmse ** 2) * X.shape[0]
sgd_rse /= X.shape[0] - 2

print('RMSE: ', sgd_rmse)
print('RSE : ', sgd_rse)
print('R2 Score: ', reg.score(X, y))

RMSE:  4.778580578224781
RSE :  22.972807160367065
R2 Score:  0.7331394355527803

In [ ]:
RMSE:  4.778921134015769
RSE :  22.976081689765778
R2 Score:  0.7331394355527803

In [28]:
w_values = sgd_reg.coef_
print('w_values: ', w_values)

w_values:  [-0.21717936  0.7426931  -0.16228418  0.95743018 -1.17215142  2.92091012
 -0.25630747 -2.55722722  1.41265009 -0.73998271 -1.70644611  1.05518903
 -4.07624436]

In [30]:
w_size = w_values.size
print('w_size: ', w_size)

w_size:  13

In [40]:
print('The INTERCEPT W 0 \t value is :\t', sgd_reg.intercept_[0])
print(' \n ')
for index, w_value in enumerate(w_values):
    print('The COEFFICIENT W', index+1, '\tvalue is :\t', w_value)

The INTERCEPT W 0 	 value is :	 22.75571018385164


The COEFFICIENT W 1 	value is :	 -0.2171793642544061
The COEFFICIENT W 2 	value is :	 0.7426931032698916
The COEFFICIENT W 3 	value is :	 -0.1622841839770976
The COEFFICIENT W 4 	value is :	 0.9574301807067099
The COEFFICIENT W 5 	value is :	 -1.1721514196656748
The COEFFICIENT W 6 	value is :	 2.920910124495222
The COEFFICIENT W 7 	value is :	 -0.2563074720940116
The COEFFICIENT W 8 	value is :	 -2.55722721559029
The COEFFICIENT W 9 	value is :	 1.4126500863796108
The COEFFICIENT W 10 	value is :	 -0.7399827138008559
The COEFFICIENT W 11 	value is :	 -1.7064461064239842
The COEFFICIENT W 12 	value is :	 1.0551890253129141
The COEFFICIENT W 13 	value is :	 -4.076244358721933