https://www.kaggle.com/c/boston-housing/overview

In [1]:
# necessary imports 


import plotly.express as px
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import opendatasets as od

import warnings
warnings.filterwarnings('ignore')

plt.style.use('fivethirtyeight')
%matplotlib inline
pd.set_option('display.max_columns', 26)

# Downloading the DATASET from the KAGGLE.COM project site. This automatically creates a project directory and places the dataset file there.
od.download("https://www.kaggle.com/c/boston-housing/overview")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: niranjanreddykaya
Your Kaggle Key: ········

100%|█████████████████████████████████████████████████████████████████████████████| 13.9k/13.9k [00:00<00:00, 7.05MB/s]

Downloading boston-housing.zip to .\boston-housing

Extracting archive .\boston-housing/boston-housing.zip to .\boston-housing

In [4]:
df = pd.read_csv('./boston-housing/dataset.csv')
df.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
1,6,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21
2,8,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15
3,9,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93
4,10,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10