In [ ]:
!pip install tweepy

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing
import os
import tweepy as tw #for accessing Twitter API


#For Preprocessing
import re    # RegEx for removing non-letter characters
import nltk  #natural language processing
nltk.download("stopwords")
from nltk.corpus import stopwords
from nltk.stem.porter import *

# For Building the model
from sklearn.model_selection import train_test_split
import tensorflow as tf
import seaborn as sns

#For data visualization
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
%matplotlib inline

pd.options.plotting.backend = "plotly"

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\niranjans3ln\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## EDA - Exploratory Data Analysis

### Cleaning and prepping our dataset...

In [3]:
# Load Tweet dataset
df1 = pd.read_csv('./covid-19_articles_data.csv')
# Output first five rows
df1.head()

   Unnamed: 0                                               text  sentiment
0           0  If you've recently heard from an old friend, y...          1
1           1  Dr. Hall says it makes sense that we would rea...          1
2           2  "Please, if you are going to protest, take car...          1
3           3  The Tulsa Health Department sent 2 Works for Y...          1
4           4  The industry is one of the hardest hit by the ...          0