# Python Prelims

In [2]:
print ('Hello, I got sarted')

Hello, I got sarted

Python is an interpreted language. Commands typed are interpreted.

In [3]:
# Comment : This is a cell which will contain code.

print ('Hello World')  # Comment again here for test purpose.

Hello World

In [4]:
3+8

11

In [5]:
213+76473*2

153159

In [6]:
tot = 55555

In [7]:
3 ** 3 ** 2

19683

In [8]:
2 ** 3 ** 2

512

In [9]:
3 ** 2

9

In [10]:
2 ** 9

512

In [3]:
x = 2
y = x

print('x = ',x)
print('y = ',y)
y = 5
print('x = ',x)
print('y = ',y)
x = 8
print('x = ',x)
print('y = ',y)
y = x
x = 8
print('x = ',x)
print('y = ',y)

x =  2
y =  2
x =  2
y =  5
x =  8
y =  5
x =  8
y =  8

In [4]:
x = int ()
x

0

In [7]:
x = 3.3
x
type(x)

float

In [8]:

x = 'niranjan'
type(x)

str

In [11]:
x = int(3.9)
print(x)
type(x)

3

int

In [12]:
x = int('987')
print(x)
type(x)

987

int

In [13]:
x = int('987.8')
print(x)
type(x)

ValueError: invalid literal for int() with base 10: '987.8'

In [14]:
x = int('sam')
print(x)
type(x)

ValueError: invalid literal for int() with base 10: 'sam'

In [15]:
x = float()
print(x)
type(x)

0.0

float

In [16]:
x = float(5)
print(x)
type(x)

5.0

float

In [17]:
x = 1.23e3
print(x)
type(x)

1230.0

float

In [18]:
x = -1.23e3
print(x)
type(x)

-1230.0

float

In [19]:
x = True
print(x)
type(x)

True

bool

In [26]:
x = 55
y = bool (x)
print(x)
print(type(x))
print(y)
print(type(y))

55
<class 'int'>
True
<class 'bool'>

In [27]:
x = -55
y = bool (x)
print(x)
print(type(x))
print(y)
print(type(y))

-55
<class 'int'>
True
<class 'bool'>

In [28]:
x = 0
y = bool (x)
print(x)
print(type(x))
print(y)
print(type(y))

0
<class 'int'>
False
<class 'bool'>

In [29]:
x = True
y = int (x)
print(x)
print(type(x))
print(y)
print(type(y))

True
<class 'bool'>
1
<class 'int'>

In [30]:
x = False
y = int (x)
print(x)
print(type(x))
print(y)
print(type(y))

False
<class 'bool'>
0
<class 'int'>

In [31]:
2 + 2 * 3

8

In [32]:
mystr = 'chintoo'

In [33]:
mystr[2]

'i'

In [34]:
mystr[5] = '5'

TypeError: 'str' object does not support item assignment

In [35]:
mystr = 'something is there in the message'
print(mystr)

something is there in the message

In [36]:
mystr.split()

['something', 'is', 'there', 'in', 'the', 'message']

In [37]:
mystr + mystr

'something is there in the messagesomething is there in the message'

In [38]:
mystr *3

'something is there in the messagesomething is there in the messagesomething is there in the message'

In [39]:
(mystr * 3 ) /2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [40]:
mystr = 'something, should, be, looked, after'
mystr

'something, should, be, looked, after'

In [41]:
mystr.split()

['something,', 'should,', 'be,', 'looked,', 'after']

In [42]:
mystr.split(',')

['something', ' should', ' be', ' looked', ' after']

In [43]:
mystr.split(', ')

['something', 'should', 'be', 'looked', 'after']

In [44]:
mystr = 'something,is,not,right,as,i,think'
print(mystr)
mystr.split()

something,is,not,right,as,i,think

['something,is,not,right,as,i,think']

In [45]:
mystr.split(',')

['something', 'is', 'not', 'right', 'as', 'i', 'think']

In [46]:
mystr.replace(',', ' ')

'something is not right as i think'

In [47]:
mystr.find(' ')

-1

In [48]:
mystr.find(',')

9

In [49]:
print(mystr)

something,is,not,right,as,i,think

In [50]:
string2 = mystr.split(',')
print(mystr)
print(string2)

something,is,not,right,as,i,think
['something', 'is', 'not', 'right', 'as', 'i', 'think']

In [51]:
s = {'niranjan', 'santoshi', 'lokanath'}
s

{'lokanath', 'niranjan', 'santoshi'}

In [52]:
s[1]

TypeError: 'set' object is not subscriptable

In [53]:
s1 = {'name', 5, 'age'}
s1

{5, 'age', 'name'}

In [54]:
5 in s1

True

In [55]:
'sam' in s1

False

In [56]:
'san' not in s1

True

In [57]:
s1.split()

AttributeError: 'set' object has no attribute 'split'

In [58]:
s1.issuperset(s1)

True

In [59]:
s1.issubset(s1)

True

In [60]:
s2 = {'san', 'man', 'name'}
s1.union(s2)

{5, 'age', 'man', 'name', 'san'}

In [61]:
s1.intersection(s2)

{'name'}

In [62]:
s1.intersection(s1)

{5, 'age', 'name'}

In [63]:
s1.difference(s2)

{5, 'age'}

In [64]:
s2.difference(s1)

{'man', 'san'}

In [65]:
s1.difference(s1)

set()

In [67]:
s1.symmetric_difference(s2)

{5, 'age', 'man', 'san'}

In [68]:
s1.add('somebody')

In [69]:
s1

{5, 'age', 'name', 'somebody'}

In [70]:
s1.remove(5)
s1

{'age', 'name', 'somebody'}

In [77]:
mytup = ()
len(mytup)

0

In [78]:
mytup = (1,2,3)
mytup

(1, 2, 3)

In [79]:
len(mytup)

3

In [86]:
mytup = mytup + (4, 5)
print(mytup)
len(mytup)

(1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5)

15

In [92]:
mytup = mytup + mytup
print(mytup)
len(mytup)

(1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5)

960

In [93]:
mytup = (1,2,3)
x,y,z = mytup
print(x)
print(y)
print(z)

1
2
3

In [94]:
mytup[1] = 5

TypeError: 'tuple' object does not support item assignment

In [95]:
x = 6

In [96]:
mytup = ([1,2], [4,5])
mytup[1] = [2,3]

TypeError: 'tuple' object does not support item assignment

In [97]:
mytup[1][0] = [5,6,7]
mytup

([1, 2], [[5, 6, 7], 5])

In [98]:
mytup[1][0][2] = 'c'
mytup

([1, 2], [[5, 6, 'c'], 5])

In [99]:
mytup[1][0][1] = 'c'
mytup

([1, 2], [[5, 'c', 'c'], 5])

In [100]:
mytup[1][0][0] = 'c'
mytup

([1, 2], [['c', 'c', 'c'], 5])

## Dictionary Data Type

In [3]:
something = 'something'
something

'something'

In [6]:
grades = {'jose':'Grade A', 'john':'Grade C'}

In [8]:
grades

{'jose': 'Grade A', 'john': 'Grade C'}

In [10]:
grades['jose']

'Grade A'

In [11]:
'jose' in grades

True

In [12]:
grades.keys()

dict_keys(['jose', 'john'])